html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 15px;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header_inner {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #fff;

}

.word {
    color:rgb(177, 178, 188);
}

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity 0.1s linear;
}

.nav_link {
    margin-left: 60px;
    text-decoration: none;
    color: #fff;
    opacity: 0.75;
}

.nav_link:hover {
    opacity: 1;
}

.nav_link:first-child {
    margin-left: 0;
}

.full_screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.full_screen_body {
    padding: 50px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.full_screen_title {
    color: rgb(177, 178, 188);
    font-size: 50px;
    letter-spacing: 25px;
    font-weight:  700;
    margin: 0px 0px 20px 0px;

}

.full_screen_text {
    color: rgb(177, 178, 188);
    font-size: 20px;
    letter-spacing: 5px;
}

.full_screen_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: #8a2be2;
}

.content{
    color: rgb(177, 178, 188);
}

.content_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 85%;
    margin: 0px auto;
    padding: 50px 15px;
    line-height: 100%;
}
.content_container div {
    color: #f1f1f1;
    background: darkorange;
    justify-content: center;
    padding: 5%;
    border-radius: 10px;
    margin: 1%;
}
.content_container div img {
    width: 100% !important;
    height: 20% !important;
    border-radius: 10px;
}
.content_container div div {
    padding-left: 0%;
    font-size: 120%;
}

.content_container p {
    margin: 0px 0px 20px 0px;
}

@media only screen and (max-width: 1400px) {
    .content_container {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 95%;
        margin: 0px auto;
        padding: 50px 15px;
        line-height: 150%;
    }
    .content_container div {
        background: darkorange;
        justify-content: center;

    }
    .content_container div div {
        padding-left: 10%;
        font-size: 250%;
    }
}

@media only screen and (max-width: 750px) {
    .content_container {

        display: grid;
        grid-template-columns: 1fr;
        max-width: 95%;
        margin: 0px auto;
        padding: 50px 15px;
        line-height: 150%;
    }
    .content_container div {
        background: darkorange;
        justify-content: center;

    }
    .content_container div div {
        padding-left: 10%;
        font-size: 120%;
    }
}