*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.about{
    width: 100%;
    padding: 80px 0px;
    background-color: #fff ;
}

.about img{
    height: auto;
    width: 420px;
}

.about_text{
    width: 550px;
}

.main{

    margin: 0% 20% 0% 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-around;
}

main div {
    margin: 10%;
}
@media only screen and (max-width: 1400px) {
    main  {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0% 5% 0% 5%;
    }
}

.about_text h1{
    color: #000;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about_text h5{
    color: #000;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about_text p{
    color: #000;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 45px;
}

button{
    background: #f9004d;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .3;
}

button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}